<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div id="app"><%- app %></div>
    <% include ../partials/initialState %>
    <% include ../partials/scripts %>
</body>
</html>